*,
*::before,
*::after {
    box-sizing: border-box;
}

.title {
    text-align: center;
    font-size: 65pt;
}

.mainMenu {
    border: 1px solid black;
    text-align: center;
}

.small-2 {
    text-align: center;
    font-size: 36pt;
    padding: 24pt;
}

/* body{
    background-image: url(https://media.istockphoto.com/id/1062424918/photo/green-poker-table-felt-background-with-shade-vignette.jpg?s=170667a&w=0&k=20&c=XVnFAyN5okekiwWLAmtpCp_TXtv85f0-bDT6jrZ1gBk=);


} */

.workout-cards {
    display: flex;
}

.radio-button {
    display: none;
}

.icon {
    font-size: 80pt;
    border: 2pt solid black;
    border-radius: 50%;
    text-align: center;
    transition: 0.3s;
    width: 200px;
    background-color: black;
    background-image: url(/assets/images/pokerchip1.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.icon:hover {
    background-image: none;
    background-color: black;
    color: goldenrod;
    border: 2pt solid goldenrod;
    transition: 0.3s;
}

.icon:hover .suits {
    display: none;
}

.icon:hover .workout {
    display: inline;
    font-size: 24pt;
    position: relative;
    top: -25px;
}

.hearts-icon,
.diamonds-icon {
    color: rgb(255, 255, 255);
}

.full-workout-icon {
    background-color: white;
    background-image: none;
    width: 300px;
    color: goldenrod;
    padding: 10pt;
}

.workout {
    display: none;
}