*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    background-image: url(https://www.free-freecell-solitaire.com/solitaire/images/backgrounds/1920x1200/green_felt.jpg);
}

.title {
    text-align: center;
    font-size: 65pt;
}

h1 {
    margin-bottom: 0;
}

h2{
    font-size: 2rem;
}
.heading {
    background-color: black;
    color: goldenrod;
}
.button{
    background-color: green;
    border-radius: 10px;
    font-size:1.5rem;
}

.mainMenu {
    border: 1px solid black;
    text-align: center;
    background-image: url(https://t4.ftcdn.net/jpg/03/00/06/59/360_F_300065992_rFZjeJkXNh6ws8sYGGyGvhpxt7lwpgSX.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: goldenrod;
}

.small-2 {
    text-align: center;
    font-size: 36pt;
    padding: 24pt;
}

.small-up-2 {
    background-image: url(https://www.free-freecell-solitaire.com/solitaire/images/backgrounds/1920x1200/green_felt.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.workout-cards {
    display: flex;
    justify-content: center;
}

.radio-button {
    display: none;
}

.icon {
    font-size: 80pt;
    border: 2pt solid black;
    border-radius: 50%;
    text-align: center;
    transition: 0.3s;
    width: 200px;
    background-color: black;
    background-image: url(https://www.pngitem.com/pimgs/m/518-5181524_red-poker-chip-png-transparent-png.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.icon:hover {
    background-image: none;
    background-color: black;
    color: goldenrod;
    border: 2pt solid goldenrod;
    transition: 0.3s;
}

.icon:hover .suits {
    display: none;
}

.icon:hover .workout {
    display: inline;
    font-size: 24pt;
    position: relative;
    top: -25px;
}

.icon:active {
    background-color: goldenrod;
    color: black;
    border: 2pt solid black;
    transition: 0.01s;
}

.hearts-icon,
.diamonds-icon {
    color: rgb(255, 255, 255);
}

.full-workout-icon {
    background-color: white;
    background-image: none;
    width: 300px;
    color: goldenrod;
    padding: 10pt;
}

.workout {
    display: none;
}

.slider-handle {
    background-image: url(https://www.pngitem.com/pimgs/m/518-5181524_red-poker-chip-png-transparent-png.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 50%;
}

.slider {
    background-color: black;
}

.slider-fill {
    background-color: goldenrod;
}

.small-2 {
    background: none;
    border: none;
    color: goldenrod;
}

.footer {
    background-image: url(https://www.free-freecell-solitaire.com/solitaire/images/backgrounds/1920x1200/green_felt.jpg);
}